{% extends "base.html" %} {% block content %}
<h1>Library Books!</h1>

<!-- Add Book Form -->
<form class="book-search" action="/books" method="post">
  <table>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" />
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" />
    <label for="genre">Choose a Genre:</label>
    <select id="genre" name="genre">
      <option value="fiction">Fiction</option>
      <option value="historical">History</option>
      <option value="science">Science</option>
      <option value="arts">Arts</option>
      <option value="autobiography">Autobiography</option>
      <option value="crime">Crime</option>
    </select>
    <label for="isbn">ISBN:</label>
    <input type="text" name="isbn" id="isbn" />
    <label for="checkedout">On loan: </label>
    <select id="checkedout" name="checkedout">
      <option value="true">No</option>
      <option value="false">Yes</option>
    </select>
    <tr>
      <td colspan="2">
        <div align="right">
          <input type="submit" value="Add" />
        </div>
      </td>
    </tr>
  </table>
</form>

<!-- **Delete Book Form** -->
<form class="book-search" action="/books/delete" method="post">
  <table>
    <tr>
      <td class="tdLabel">
        <label for="delete-title" class="label"
          >**Book Title to Delete:**</label
        >
      </td>
      <td>
        <input
          type="text"
          name="title"
          id="delete-title"
          style="width: 400px"
        />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div align="right">
          <input type="submit" value="Delete" />
        </div>
      </td>
    </tr>
  </table>
</form>

<div class="book-container">
  {%for book in books%}

  <div class="book">
    <h2>Book Title: {{ book.title }}</h2>
    <h3>Author: {{ book.author}}</h3>
    <h3>Genre: {{ book.genre}}</h3>
    <h3>ISBN: {{ book.isbn}}</h3>

    <nav>
      <ul>
        <li>
          <a href="{{ url_for('book_details', title=book.title) }}"
            >View Details</a
          >
        </li>
      </ul>
    </nav>
  </div>

  {% endfor %}
</div>

{% endblock %}
